<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
	<title>testing</title>
</head>
<body>
<form id="form_id1" method="POST" action='/form'>
	<label for="name">Enter your name:</label>
	<input type="text" name="user_name">
	<br>
	<br>
	<label for="organisation">Organisation:</label>
	<input type="text" name="user_organisation">
    <br>
    <br>
    <input type="submit" value="submit">

</form>

</body>
</html>